<html>
    <head>
    <title>Books List</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: sans-serif;
        }

        body {
            margin: 0;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: grey;
            padding-left: 10px;
        }

        main {
            margin-left: 280px;;
        }
        
    </style>
    <nav>
        <h2> Navigation bar</h2>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="books">Books</a></li>
            <li><a href="book1">Book1</a></li>
            <li><a href="book2">Book2</a></li>
            <li><a href="book3">Book3</a></li>
        
        </ul>
    </nav>
</head>
<%- body %>